.tables {
  background-color: var(--color-background);
  margin-left: 298px;
  padding-bottom: 23.5px;

  @media (max-width: 1000px) {
    margin-left: 0;
    padding-bottom: 0;
    padding: 30px;
  }

  @media (max-width: 400px) {
    padding: 10px;
  }

  &__main {
    padding: 22.5px 22px 0 0;

    @media (max-width: 900px) {
      padding: 0px;
    }
  }
  .footer {
    margin: 0;
    margin-top: 28.5px;
    gap: 0;
    justify-content: space-between;
  }
}
