.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20%;

  @media (min-width: 1600px) {
    padding: 0 25%;
  }

  @media (max-width: 900px) {
    align-items: flex-start;
    flex-direction: column-reverse;
    padding: 0;
  }

  p {
    font-weight: 400;
    font-size: 12px;
    color: var(--color-light);

    a {
      text-decoration: none;
      font-weight: 700;
      color: var(--color-primary);
    }
  }

  &__links {
    display: flex;
    gap: 52px;

    @media (max-width: 900px) {
      width: 100%;
      margin-bottom: 10px;
      justify-content: space-between;
      gap: unset;
    }

    a {
      font-weight: 400;
      font-size: 12px;
      color: var(--color-light);
    }
  }
}
