.sign-up {
  padding: 24px;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  @media (max-width: 900px) {
    padding: 20px;
  }

  .wave-1,
  .wave-2 {
    width: 1598px;
    height: 799px;
    position: absolute;
  }

  .wave-1 {
    top: -150px;
    left: 0%;
  }

  .wave-2 {
    top: -100px;
    right: 0;
  }

  &__top {
    position: relative;
    height: 520px;
    background-color: var(--color-primary);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    @media (max-width: 900px) {
      border-radius: 10px;
      padding: 0 20px;
    }

    h3 {
      font-weight: 700;
      font-size: 32px;
      color: var(--color-white);
      margin: 125px 0 9.5px;
      z-index: 1;

      @media (max-width: 900px) {
        font-size: 24px;
      }
    }
  }

  &__bottom {
    width: 100%;
    height: 520px;

    @media (max-width: 900px) {
      height: 50vh;
    }
  }

  &__subtext {
    width: 333px;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-white);
    z-index: 1;
    text-align: center;

    @media (max-width: 900px) {
      font-size: 12px;
      width: 300px;
    }
  }

  &__form {
    padding: 45px 51px;
    background: var(--color-white);
    box-shadow: 0px 7px 23px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin-top: 66px;
    width: 452.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    @media (max-width: 900px) {
      width: 100%;
      border-radius: 10px;
      padding: 30px 25px;
    }

    &__heading {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      color: var(--color-dark);

      @media (max-width: 900px) {
        font-size: 14px;
      }
    }

    &__auth-links {
      display: flex;
      gap: 15px;
      margin: 22px 0;

      @media (max-width: 900px) {
        gap: 10px;
      }

      div {
        width: 75px;
        height: 75px;
        border: 1px solid var(--color-grey);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @media (max-width: 900px) {
          width: 50px;
          height: 50px;
          border-radius: 10px;
        }

        img {
          @media (max-width: 900px) {
            transform: scale(0.75);
          }
        }
      }
    }

    .divider {
      margin-bottom: 17px;
      font-weight: 700;
      font-size: 18px;
      color: var(--color-light);

      @media (max-width: 900px) {
        font-size: 14px;
      }
    }

    &__input-fields {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &__input-field-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        font-weight: 400;
        font-size: 14px;
        color: var(--color-dark);

        @media (max-width: 900px) {
          font-size: 11px;
        }
      }
    }

    &__toggle-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin: 24px 0 36px;
    }

    .remember-me {
      font-weight: 400;
      font-size: 12px;
      color: var(--color-dark);

      @media (max-width: 900px) {
        font-size: 10px;
      }
    }

    &__login-link {
      margin-top: 22px;
      font-weight: 400;
      font-size: 14px;
      color: var(--color-light);
      text-align: center;

      @media (max-width: 900px) {
        font-size: 11px;
      }

      a {
        color: var(--color-primary);
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}
